body {
  margin: 0;
  background-color: rgb(225, 225, 225);
}

h1 {
  margin: 0;
}

.banner {
  background-image: linear-gradient(105deg, rgb(0 0 0 / 52%) 51%, rgba(0,0,0,0.2777485994397759) 100%), url(https://carnetsdasie.com/wp-content/uploads/2018/09/SAD-Cambodge-Battambang-2500-1.jpg);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1, .banner h2 {
  color: white;
  text-align: center;
  font-family: 'Rokkitt', serif;
}

.banner h2 {
  padding: 16px;
}

.btn-green {
  color: white;
  text-decoration: none;
  background-color: #336443;
  padding: 20px;
  border-radius: 7px;
  display: block;
  width: 88px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 48px;
  font-family: 'Rokkitt', serif;
}

.container h2 {
font-family: 'Rokkitt', serif;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 250px;
  margin: 0;
}

.card {
  background-color: white;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
}

.card img {
  width: 250px;
}

.footer {
  background-color: #404042;
  color: white;
  padding: 32px;
  text-align: right;
  margin-top: 48px;
  font-family: 'Permanent Marker', cursive;
}

.navbar {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  box-shadow: 0px 3px 3px 3px #00000069;
  z-index: 999;
  font-family: 'Permanent Marker', cursive;
}

.navbar img {
  width: 75px;
  margin-right: 300px
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .cards {
  grid-template-columns: 1fr;
}

.nav-links a {
  font-size: 8px;
}
}

<!---calendar>
#extcal_minical table {
  background-color: #eee;
  color: #333;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; 
}
#extcal_minical table tr,#extcal_minical table td{
  border:none!important;
}
#extcal_minical table tbody {
  border-right: 5px solid #f3f3f3;
  border-bottom: 3px solid #f3f3f3;
}
#extcal_minical .extcal_navbar {
  /* background-image: url(http://www.jevents.net/templates/rt_solarsentinel/images/bg1.gif); 
  background-repeat: repeat-x; */
  border-bottom: 1px solid #B4B4B6;
  background-color: #515151;
}
#extcal_minical .extcal_tiny_add_event_link {
  font-size: 12px;
  font-weight: normal;
  color:#575767;
  text-decoration: none;
}
#extcal_minical TABLE.extcal_weekdays {
  /* background-image: url(../images/bg1.gif); */
  background-repeat: repeat-x;
  border-top: 1px solid #FFFFFF;
  width:235px;
  border-collapse:collapse;
  border-spacing:0px;
  border-width:0px;
  text-align:center;
}
#extcal_minical TD.extcal_weekdays {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  padding-top: 4px;
  vertical-align: middle;
  height:24px;
  text-align:center;
  background-color: #d7d7d7;
  outline: 1px solid #f3f3f3;
}

#extcal_minical .extcal_small {
  font-size: 12px;
  color:#575767;
  text-decoration: none;
}
#extcal_minical .extcal_small:link,#extcal_minical .extcal_small:visited {
  text-decoration: none;
}
#extcal_minical .extcal_small:hover {
  text-decoration: underline;
}

#extcal_minical .extcal_daycell,#extcal_minical .extcal_todaycell,
#extcal_minical .extcal_sundaycell,#extcal_minical .extcal_othermonth {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color:#555555;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #eee;
}

#extcal_minical .extcal_todaycell {
  color:#fff;
  /* background-image: url(http://www.jevents.net/components/com_jevents/views/iconic/assets/images/rect.gif); 
  background-color: #eee; */
}

#extcal_minical .extcal_sundaycell {
  color:#99AAAA;
}

#extcal_minical .extcal_othermonth {
  color:#99AAAA;
}

#extcal_minical .extcal_daylink, #extcal_minical .extcal_sundaylink,
#extcal_minical .extcal_busylink  {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; 
}

#extcal_minical .extcal_daylink:link,#extcal_minical .extcal_daylink:visited {
  color:#555555;
}

#extcal_minical .extcal_busylink:link,#extcal_minical .extcal_busylink:visited { 
  color:#222;
  text-decoration: none; 
  display: block;
  background-color: #fff;
  padding: 4px 0;
}
#extcal_minical .extcal_todaycell .extcal_busylink,
#extcal_minical .extcal_todaycell .extcal_busylink:visited{
  color:#fff;
  background-color: #2484b0;
}
#extcal_minical .extcal_sundaylink:link,#extcal_minical .extcal_sundaylink:visited {
  color:#99AAAA;
}

#extcal_minical .extcal_month_label {
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  /* background-color: #515151; */
}
#extcal_minical .extcal_picture 
#extcal_minical .extcal_weekcell {
  margin: 0px;
  padding: 0px;
  text-align:center;
}